#slide1,
#slide2,
#slide3 {
  display: none;
}
/* 
.mygrid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
} */

.slideicon {
  font-size: 20px;
  padding: 3px;
}

button.primary_blue {
  background: #3770ff;
}

.aboutbg {
  background-image: none;
  padding: 8vh 0;
  margin-left: 40px;
}

.aboutbg h1 {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 3rem;
}

.aboutbg h6 {
  letter-spacing: 4px;
  opacity: 0.8;
  font-size: 1.5rem;
}

@media (max-width: 640px) {
  .aboutbg {
    margin-left: 0px;
  }

  .aboutbg {
    padding: 4vh 1.5rem;
  }

  .aboutbg h6 {
    font-size: 1.4rem;
  }
}
