#slide1,
#slide2,
#slide3 {
  display: none;
}
/* 
.mygrid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
} */

.slideicon {
  font-size: 20px;
  padding: 3px;
}

button.primary_blue {
  background: #3770ff;
}

.aboutbg {
  background-color: #010409;

  background-attachment: fixed;
  padding-top: 60px;

  margin-left: 40px;
}

.aboutbg h1 {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #e7f5ff;
}
.aboutglass {
  background: rgba(105, 102, 102, 0.034);
  box-shadow: 0 8px 32px 0 rgba(47, 192, 236, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

  padding: 30px 10px 30px 10px;
}
.aboutbg h6 {
  letter-spacing: 4px;
  opacity: 0.8;
  font-size: 1.5rem;
  color: #e7f5ff;
}

@media (max-width: 640px) {
  .aboutbg {
    margin-left: 0px;
  }

  .aboutbg {
    padding: 0.8rem;
    padding-top: 4rem;
  }

  .aboutbg h6 {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .aboutbg h1 {
    font-size: 1.4rem;
  }
  .aboutglass {
    padding: 1rem;
  }
  .abTitle{
    margin:10px 10px 10px 10px;
  }
}
