body {
  overflow-x: hidden;
}

.reva-h1 {
  text-align: center;
  color: #fff;
  font-size: 10rem;
  text-shadow: 0 0 10px#5ed6f2, 0 0 20px#5ed6f2, 0 0 40px#5ed6f2,
    0 0 80px#5ed6f2, 0 0 160px#5ed6f2;
}
.hack-h1 {
  font-size: 14rem;

  animation: hackAnimate 5s linear infinite;
}
@keyframes hackAnimate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #131313;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #5ed6f2, 0 0 20px #5ed6f2, 0 0 40px #5ed6f2,
      0 0 80px #5ed6f2, 0 0 160px #5ed6f2;
  }
}

.cover {
  color: #fcfcfc;
  height: 100vh;
  padding: 0vh 0 0 6rem;
  text-align: center;
  /* background-image: url("../images/gifs/starBG.gif");
  background-attachment: fixed; */
  /* background-image: repeating-linear-gradient(
      90deg,
      rgba(243, 243, 243, 0.05) 0px,
      rgba(243, 243, 243, 0.05) 1px,
      transparent 1px,
      transparent 10px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(243, 243, 243, 0.05) 0px,
      rgba(243, 243, 243, 0.05) 1px,
      transparent 1px,
      transparent 10px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(243, 243, 243, 0.08) 0px,
      rgba(243, 243, 243, 0.08) 1px,
      transparent 1px,
      transparent 27px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(243, 243, 243, 0.08) 0px,
      rgba(243, 243, 243, 0.08) 1px,
      transparent 1px,
      transparent 27px
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0)); */
  background-color: #010409;
  background-attachment: fixed;
  background-position: left top;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.cover *:not(hr) {
  margin-left: 0 auto;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.cover hr {
  width: 250px;
  border: 1px solid white;
  color: #1d1d37;
}

.cover * {
  display: inline-block;
}

div.cover-container {
  position: relative;
  top: 8vh;
}

sup {
  position: relative;
  bottom: 4px;
  right: 15px;
}

sub {
  position: relative;
  right: 99px;
  top: 10px;
}

.cover-container p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* #devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
} */

/* #devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
} */

.discord {
  color: #7289d9;
  width: 312px;
  height: 44px;
  background-color: #fcfcfc;
  display: flex;
  padding: 15px 20px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.discord span {
  margin-left: 0;
}

.discord img {
  width: 35px;
  height: auto;
  margin-left: 10px;
}

.typewriter-text {
  letter-spacing: 4px;
  margin: 2rem 0;
}

@media (max-width: 575.98px) {
  .typewriter-text {
    font-size: 1.5rem;
  }

  .cover {
    /* background-image: url("../images/gifs/starBG.gif"); */
    height: 73vh;
  }

  .cover,
  .cover * {
    text-align: center;
    padding: 0rem 0 0;
  }

  .cover *:not(hr) {
    margin-left: 0;
  }

  .cover p {
    margin: 0;
    padding: 0;
  }

  .cover hr {
    display: none;
    border: 1px solid white;
    color: #1d1d37;
  }

  .cover h1 {
    font-size: 6rem;
  }
  .h3 {
    font-size: 2px;
  }
  .cover h4 {
    padding-top: 0px;
    font-size: 1.5rem;
  }

  div.cover-container {
    position: relative;
    top: 6vh;
  }

  .cover-container p {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  sup {
    position: relative;
    bottom: 4px;
    left: 33px;
  }

  sub {
    position: relative;
    left: 0px;
    top: 10px;
  }

  #devfolio-apply-now {
    height: 60px;
    width: 265.55px;
  }

  a.discord,
  #devfolio-apply-now {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }

  .discord img {
    margin-left: 10px;
  }
  .discord {
    margin: 12px;

    /* width: 295px; */
  }

  

  .btcl {
    margin: 0 auto;
  }

}

.register {
  color: #a7b1d4;
  width: 200px;
  height: 44px;
 
  border-radius: 3px;
  padding-top: 5%;
  padding-right: 10%;
  z-index: 100;

  }
  
  .btcl{
    margin:0 auto;
  }
  


